<?xml version="1.0" encoding="utf-8"?>
<!-- Debug-only activity used to render the widget for a screenshot verification. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.countup.app.WidgetHostActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    </application>

</manifest>
